# Set URL for your scoped packages to GitHub Packages
@QualiPe:registry=https://npm.pkg.github.com
# Add the token for the scoped packages URL. This will allow you to download
//npm.pkg.github.com/:_authToken=${NPM_TOKEN}
